
*{
	margin:0px;
	padding:0px;
	border:0px;
	font-family:tahoma;
	direction:rtl;
  }
  body{
	  background-color:#e9e7e7;
	  background:url(../images/bg.jpg) repeat;
	  
	  
	  }
.main{
	background-color:white;
	margin-top:1.5%;}
.titletext{
	font-family:IranNastaliq,'IranNastaliq',tahoma;
	font-size:4em;
	color:#2c2984;
	padding-top:5%;
	text-align:center;
		 }
header{
	background-color:#b8dcf7;
	margin-bottom:1.5%;
	}
@media (min-width:990px) and (max-width:1200px){
	.titletext{
		font-size:3em;}
	}
	@media (min-width:768px) and (max-width:990px){
	.titletext{
		font-size:2em;
		}
	}
	@media (min-width:575px) and (max-width:767px){
	.titletext{
		font-size:1.5em;
		}
	
	}
	@media (min-width:540px) and (max-width:574px){
	.titletext{
		font-size:1.5em;
		}
		}
	@media (min-width:440px) and (max-width:540px){
	.titletext{
		font-size:1em;
		}
		}
	@media (min-width:408px) and (max-width:440px){
	.titletext{
		font-size:1em;
		}
		}
	@media (min-width:350px) and (max-width:408px){
	.titletext{
		font-size:0.7em;
		}
		}
	@media (min-width:280px) and (max-width:350px){
	.titletext{
		font-size:0.5em;
		}
		}
nav{
	margin-top:5px;
	background-color:#4393d2 !important;
	border:0px!important;
	
	}
nav ul li{
	float:right !important;
	
	}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color:#2c2984;
}
.navbar-inverse .navbar-nav > li > a {
  color:#23214f;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color:#2c2984!important;
  }
  .navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #2c2984!important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:#23214f!important;
  }
  
	
  .row{
	 margin-top:-12px;
	 }
  .carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color:#23214f!important;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #23214f!important;
  border-radius: 10px;
}
 .dandan
 {
	 	 
	 border:3px inset !important;
	 border-color:#3579b6!important;
 }
 .dandan img{
	 margin-right:1%;
	}
 .dandan p{
	 color:#2c2984;
	 text-align:center;
	}
	@media(min-width:768px) and (max-width:991px){
		.dandan p{
			font-size:0.75em;}
		.arayesh p{
			font-size:0.75em;}
		.ghateh p{
		font-size:0.75em;}}
		
	@media(min-width:280px) and (max-width:290px){
		.dandan p{
			font-size:0.70em;}
		.arayesh p{
			font-size:0.70em;}
		.ghateh p{
		font-size:0.70em;}
		}
	  .dandan a{
	 text-decoration:none;
	 }
	 .dandan:hover
	 {
		 transform:scale(1.1,1.1);
		  font-weight:bold;
	}
	
	 .arayesh{
	 border:3px inset !important;
	 border-color:#edaf5c !important;
	 }
	 .arayesh a
	 {
	 text-decoration:none;
	 }
	 .arayesh img{
	 margin-right:1%;
	}
 .arayesh p{
	 color:#906939;
	 text-align:center;
	}
.arayesh:hover
	 {
		 transform:scale(1.1,1.1);
		  font-weight:bold;
	}
	 
 .ghateh
 {
	 border:3px inset !important;
	 border-color:#5db75d !important;
	 
}
 .ghateh a
 {
	 text-decoration:none;
}
.ghateh img{
	 margin-right:1%;
	}
 .ghateh p{
	 color:#356c3a;
	 text-align:center;
	}
.ghateh:hover
	 {
		 transform:scale(1.1,1.1);
		  font-weight:bold;
	}
	.pan{
		background:#3579b6!important;
		 color:white!important;
		 font-size:16px;
		
		}
		.pan1{
		background:#edaf5c!important;
		 color:white!important;
		 font-size:16px;
		
		}
		.pan2{
		background:#5db75d!important;
		 color:white!important;
		 font-size:16px;
		
		}
		.pan:hover
		{
			color:#2c2984!important;
			font-weight:bold;
		}
		.pan1:hover
		{
			color:#906939!important;
			font-weight:bold;
		}
		.pan2:hover
		{
			color:#356c3a!important;
			font-weight:bold;
		}
	.but
	{
	float:left!important;
	margin-left:2%;
	}
	
		aside{
	  background-color: #b8dcf7 ;
	  height:8%;
	  margin-right:0px; 
	  margin-left:0px; 
	  padding-right:0px; 
	  padding-left:0px;
	 }
	 .accordion {
    background-color:#b8dcf7;
    color: #444;
    cursor: pointer;
	padding-top:16px;
	padding-bottom:16px;
	padding-right:8px;
    width: 100%;
	border-bottom:1px groove;
   
    text-align: right;
    outline: none;
    font-size: 15px;
	}

.active, .accordion:hover {
    background-color: #85c6f6;
	font-size: 16px;
	color:white;
	}
	.new{
	
	padding:2%;
		
		}
	.new img{
		border:1px solid #85c6f6; 
		float:left;
		padding:1%;
		opacity:0.7;
		}
	.new img:hover{
		opacity:1;
		transform:scale(1.1,1.1);
		}
	.pannew{
		background:#85c6f6!important;
		color:#23214f!important;
		font-size:1.5em!important;
		text-align:center!important;}
		
		.pannew:hover
		{
			color:white!important;
			
		}
footer{
		background-color:#b8dcf7;
		padding:2%;
		
		}
footer p{
	color:#2c2984;
	text-align:justify;
	border-bottom:1px solid #2c2984 ;
	}
	footer h3{
	color:#2c2984;
   }
	
footer img {
	float:left;
	margin-top:15%;
	margin-left:0.5%;
	
	
	}
footer a{
	text-decoration:none;
	color:#2c2984;
	}
	footer a:hover{
	text-decoration:none;
	color: rgba(255,255,255,1.00);
	}
	@media(min-width:280px) and (max-width:352px){
		footer img {
	float:left;
	margin-top:2%;
	margin-left:0.5%;
	
	
	}
		}
	@media(min-width:768px) and (max-width:988px){
		.gar{
			margin-left:15%;}
		}
	@media(min-width:994px) and (max-width:1198px){
		.gar2{
			margin-left:35%;}
		}
	.end{
		text-align:center;
		background:#2c2984;
		color:white;
		padding:0.5%;}
	
	
	
	